{% include 'components/header.html' %}
<!-- This is the details pages.-->
<div class="panel panel-default">
        <div class="panel-body text-center">
            <br>
            <br>
            <img alt="car" src={{ article.image }} class="img-responsive"/>
            <br>
            <!-- Show the articles' informations.-->
            <h5>{{article.art_name}}</h5>
            <p class="lead text-left" style="margin: 10px;">type :   {{ article.type }}</p>

            <p class="lead text-left" style="margin: 10px;">{{ article.description }}</p>

            <p class="lead text-left" style="margin: 10px;">Per week :  € {{ article.rate }}</p>
            
            <h5>Stock : {{ article.stock }}</h5>
            {% if article.stock == 0 %}
                <button type="button" class="btn btn-sm btn-outline-secondary">Disable</button>
            {% else %}
                <form class="form list-group-horizontal" action = "{% url 'Name' article.art_name %}" method="post">
                    {% if request.session.is_login  %}
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Rent</button>
                    {% else %}
                </form>
                <button type="button" class="btn btn-sm btn-outline-secondary">Sign In/Register to rent cars!</button>
                {% endif %}
            {% endif %}

        </div>
    </div>


{% include 'components/footer.html' %}