{% include 'components/header.html' %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for article in articles %}
  <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
<!--              <rect width="100%" height="100%"  src="https://i.loli.net/2021/02/22/DmklqyzfJLv7B5w.jpg"></rect>-->
            </svg>
<img src={{ article.image }}></img>
            <div class="card-body">
              <p class="card-text">{{ article.art_name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <form class="d-flex" action = "{% url 'urlName' article.art_name %}" method="post">
                    <button class="btn btn-sm btn-outline-secondary" type="submit"> Detail </button>
                </form>
                <form class="d-flex" action = "{% url 'urlName' article.art_name %}" method="post">
                    {% if request.session.is_login  %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                    {% endif %}
                </form>
                </div>
                <small class="text-muted">stock: {{ article.stock }}</small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

</div>

{% include 'components/footer.html' %}