<html lang="zh-CN"><head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://v.bootstrapmb.com/2020/11/iwms19232/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://v.bootstrapmb.com/2020/11/iwms19232/css/util.css">
    <link rel="stylesheet" type="text/css" href="http://v.bootstrapmb.com/2020/11/iwms19232/css/main.css">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" >
                    <span class="login100-form-title-1">Login</span>
                </div>

                <form class="login100-form validate-form" action="/login/" method="post">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="username cannot be empty~">
                        <span class="label-input100">username</span>
                        <input class="input100" type="text" name="username" placeholder="Please enter your username~">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="password cannot be empty~">
                        <span class="label-input100">password</span>
                        <input class="input100" type="password" name="pass" placeholder="Please enter your password~">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">remember me</label>
                        </div>

                        <div>
                            <a href="javascript:" class="txt1">forget your password? </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--    <script src="js/jquery-3.2.1.min.js"></script>-->
<!--    <script src="js/main.js"></script>-->

</body></html>